/* -------------------------------------------------*/
/* ---------->>> TELA DE LOGIN GAMMA <<<------------*/
/* -------------------------------------------------*/
#btnLogin button {
  display: block !important;
  box-shadow: none !important;
  color: white;
}

#btnLogin button:hover {
  color: black;
}

.brand_logo_container {
  animation: fade 400ms;
  animation-delay: 600ms;
  animation-fill-mode: backwards;
}

.brand_logo_container img {
  border-radius: 50%;
}

#formLogin {
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  animation: fade 500ms;
  animation-delay: 100ms;
}

#inputsLogin .form-group:nth-child(1) {
  animation: move 600ms;
}

#inputsLogin .form-group:nth-child(2) {
  animation: move 500ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

.btn-login {
  animation: move 500ms;
  animation-delay: 350ms;
  animation-fill-mode: backwards;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/**
* @Media Queries -TELA DE LOGIN
*/

@media (min-width: 576px) {
  #formLogin {
    width: 609px !important;
    height: 441px !important;
  }
}

@media (max-width: 575.98px) {
  #formLogin {
    top: 4rem !important;
    width: 95% !important;
    height: 80% !important;
  }
  .brand_logo_container {
    border-radius: initial !important;
  }
}

/* --------------------------------------------------*/
/* ---------->>> TELA PRINCIPAL GAMMA <<<------------*/
/* --------------------------------------------------*/

#popNotifications i {
  margin: auto;
}

#popNotifications {
  width: 43px !important;
  left: 84.1% !important;
}

#toast-container-br {
  bottom: 5rem !important;
}

/* DEFINIÃ?Ã?ES DE CORES
//////////////////////////////////////*/

div#MenuLateralGamma a:hover,
div#icons a:hover,
div#optionsUser a:hover {
  background-color: rgb(0, 113, 128) !important;
}

#atalhosListaContainer a {
  color: var(--info);
}

#MenuLateralGammaPrincipal,
.menu-search input,
#MenuLateralGamma a,
#MenuLateralGamma {
  background: var(--info);
}

#iconsPrincipal a,
#optionsUserPrincipal a,
#MenuLateralGamma a,
.menu-search input::-webkit-input-placeholder {
  color: var(--white);
}

a:hover {
  text-decoration: none !important;
  color: var(--dark);
}

/* ------------------------------------------------*/
/* ---------->>> ANIMAÃ?Ã?O DOS ICONES <<<-----------*/
/* ------------------------------------------------*/

.dadosTop:hover {
  box-shadow: 0px 2px 12px -5px;
  transform: translate3d(-3px, 0, 0);
}

/* -----------------------------------------------------*/
/* ---------->>> MENU ICONS - MENU USERS  <<<-----------*/
/*          OPÃ?Ã?ES DO SITEMA / MENU DO USUARIO
/* -----------------------------------------------------*/

#atalhosListaContainer i:hover,
#icons i:hover {
  filter: drop-shadow(0px 1px 2px rgb(184, 184, 184));
  transform: translateY(-3px);
}

#optionsUserPrincipal,
#iconsPrincipal {
  display: none;
  border-radius: 0.3rem;
}

.icons-button {
  width: 7.3% !important;
  height: 62px !important;
  min-height: unset !important;
  top: 2.9rem !important;
  left: 82.25% !important;
  z-index: 100000000 !important;
}

#icons {
  top: 3.1rem !important;
}

#userImage img{
  border-radius: 50% !important;
}

#optionsUser {
  top: 6.2rem !important;
}

#icons,
#optionsUser {
  left: 0 !important;
  width: initial !important;
  position: relative;
}

#icons button,
#optionsUser button {
  padding: 0.3rem !important;
  font-size: 0.9rem !important;
}

.user-button {
  top: 0 !important;
}

.user-button:hover #optionsUserPrincipal {
  display: block !important;
  width: 14rem;
}

.icons-button:hover #iconsPrincipal {
  display: flex !important;
  justify-content: center !important;
  width: 6rem;
}

#icons ul {
  max-height: 80vh;
  overflow: auto;
}

#iconsPrincipal li,
#optionsUserPrincipal li {
  width: 100%;
  text-align: center;
}

#IconButtonContainer [webrun-type="HTMLImage"] {
  left: unset !important;
}

#iconsPrincipal a,
#optionsUserPrincipal a {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
  text-decoration: none;
  border-radius: 0.3rem;
  justify-content: center;
  display: block !important;
}

#optionsUserPrincipal a {
  padding-left: 1.5rem;
}

#iconsPrincipal a.nav-link i.menu-icon {
  font-size: 2rem;
  margin: 0.3rem;
  display: block;
  text-align: center;
}

#iconsPrincipal .menu-item-text,
#atalhosListaContainer .menu-item-text {
  white-space: normal !important;
  text-align: center;
}

/* -------------------------------------------------*/
/* ---------->>>  ATALHOS DO SISTEMA  <<<-----------*/
/*            FAB - FLOAT ACTION BUTTON 
/* -------------------------------------------------*/

@keyframes fadeLista {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#atalhosListaContainer {
  width: 4rem !important;
  max-height: 65% !important;
  min-height: auto !important;
  left: unset !important;
  top: inherit !important;
  bottom: 5.5rem !important;
  right: 1.5rem !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  background: transparent !important;
  z-index: 99999999 !important;
  padding: 0 !important;
}

#atalhosListaContainer a {
  margin-bottom: 1rem;
  animation: fadeLista 200ms ease-out;
  animation-fill-mode: both;
}

#atalhosListaContainer a .menu-item-text {
  font-size: 0.95rem;
  max-width: 100% !important;
}

#atalhosFAB {
  width: 64px !important;
  height: 64px !important;
  top: inherit !important;
  bottom: 1.5rem;
  left: unset !important;
  right: -2.7rem !important;
  z-index: 100000000 !important; 
}

#atalhosFAB:focus-within {
  width: 64px !important;
  height: 64px !important;
  top: inherit !important;
  bottom: 1.5rem;
  left: unset !important;
  right: 1.5rem !important;
  z-index: 100000000 !important;   
  transition: right 500ms ease-in-out;
}

#atalhosFAB .fa-chevron-left{
    right: 45px;
    bottom: 24px;
    position: absolute;
}

#atalhosFAB button[aria-expanded="true"] .fa-chevron-left, 
#atalhosFAB:focus-within .fa-chevron-left{
  display: none;
}

#atalhosListaContainer .menu-shortcut:focus-within{
  filter: drop-shadow(0px 8px 2px rgb(184, 184, 184));
}

#atalhosFAB button {
  box-shadow: none !important;
}

#atalhosFAB button[aria-expanded="true"] .fa-reply-all {
  display: none;
}

#atalhosFAB button[aria-expanded="false"] .fa-times {
  display: none;
}

#atalhosFAB + [data-original-title="HTMLButton"] {
  display: none !important;
}

#atalhosListaContainer a:nth-child(2n + 1) {
  animation-delay: 50ms;
}

#atalhosListaContainer a:nth-child(2n) {
  animation-delay: 150ms;
}

.backdrop-shortcut {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  background-color: #fff; 
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.backdrop-shortcut.show {
  opacity: 0.85;
  pointer-events: all;
}

/* PesonalizaÃ§Ã£o da Barra de Rolagem - ATALHOS */
#atalhosListaContainer::-webkit-scrollbar-thumb {
  background-color: #dad7d7;
}
#atalhosListaContainer::-webkit-scrollbar {
  width: 2px !important;
}

/* ---------------------------------------------------*/
/* ---------->>> GAMMA MENU LATERAL <<<---------------*/
/* ---------------------------------------------------*/

#MenuLateralGamma .menu-icon {
  position: absolute !important;
  font-size: 1.5rem !important;
  float: right;
  left: unset;
  right: 0.6rem;
}

#MenuLateralGamma:hover .menu-icon {
  right: 1.5rem;
}

#MenuLateralGamma .dropdown-toggle::after {
  position: absolute;
  right: 0.5rem;
}

#MenuLateralGamma:not(:hover) .dropdown-toggle::after {
  display: none;
}

#MenuLateralGamma .menu-remaining-level .menu-icon {
  float: right;
  left: unset;
  right: 0.8rem;
}

#MenuLateralGamma .menu-item-text {
  margin-right: 25% !important;
  display: block !important;
}

#MenuLateralGammaPrincipal button {
  position: absolute !important;
  margin-top: 2% !important;
  padding: 0.3rem !important;
  font-size: 0.7rem !important;
  float: right;
  left: unset;
  right: 1.3rem;
}
#MenuLateralGammaPrincipal .menu-remaining-level button,
#MenuLateralGammaPrincipal .dropdown-toggle button {
  margin-top: 12% !important;
}

#optionsUserPrincipal .menu-icon {
  float: left;
}

/**
* PesonalizaÃ§Ã£o da Barra de Rolagem - GAMMA MENU LATERAL
*/

#MenuLateralGamma::-webkit-scrollbar-thumb,
#MenuLateralGammaPrincipal::-webkit-scrollbar-thumb,
#icons ul::-webkit-scrollbar-thumb {
  background-color: #dad7d7;
}

#MenuLateralGamma::-webkit-scrollbar,
#MenuLateralGammaPrincipal::-webkit-scrollbar,
#icons ul::-webkit-scrollbar {
  width: 3px !important;
}

#MenuLateralGamma a {
  cursor: pointer;
  width: 100%;
  padding: 1.8rem 1rem;
  text-decoration: none;
}

#MenuLateralGamma .list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 3rem !important;
}

#MenuLateralGamma
  .list-group.list-group-root
  > .list-group
  > .list-group
  > .list-group-item {
  padding-left: 4rem;
}

#MenuLateralGamma
  .list-group.list-group-root
  > .list-group
  > .list-group
  > .list-group-item
  > .list-group
  > .list-group-item {
  padding-left: 5rem;
}

#MenuLateralGamma .menu-search {
  display: none !important;
  margin: 0 !important;
}

#MenuLateralGamma:hover .menu-search {
  display: block !important;
}

#MenuLateralGamma .menu-search .input-group {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
}

#MenuLateralGamma .menu-search .card {
  background-color: transparent !important;
  border: 0 !important;
  color: var(--light) !important;
}

#MenuLateralGamma {
  width: 241px !important;
  margin-left: -176px;
}

#MenuLateralGamma:hover {
  margin-left: 0px;
}

/**
* @Media Queries -TELA PRINCIPAL
*/

@media (max-width: 575.98px) {
  #icons {
    top: 3.9rem !important;
  }

  #optionsUser {
    top: 6rem !important;
  }

  #userImageContainer,
  .user-button {
    width: 57% !important;
    margin: auto !important;
    left: auto !important;
    position: relative !important;
    top: -1.9rem !important;
    z-index: 6 !important;
  }

  #userImage{
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 43% !important;
  }

  #userName{
    margin-left: 10px !important;
  }

  #userImageContainer::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f0dd";
    margin-top: 5px;
    margin-left: 4.5rem;
    position: absolute;
  }

  #IconButtonContainer [webrun-type="HTMLImage"] {
    margin: 0.3rem !important;
  }

  #userImageContainer img {
    width: 49px !important;
    height: 49px !important;
  }

  #userName div {
    justify-content: start !important;
  }

  #topoGamma {
    height: 70px !important;
    min-height: auto !important;
  }

  #IconButtonContainer,
  .icons-button {
    top: 0.5rem !important;
    position: fixed !important;
    width: 20% !important;
    left: 77% !important;
  }

  #icons ul {
    max-height: 70vh !important;
    overflow: auto !important;
    flex-wrap: initial !important;
  }

  #IconButtonContainer img {
    width: 27px !important;
    height: 35px !important;
  }

  #iconsPrincipal .collapse:not(.show),
  #optionsUserPrincipal .collapse:not(.show) {
    display: block !important;
  }

  #iconsPrincipal .navbar-header,
  #optionsUserPrincipal .navbar-header {
    display: none !important;
  }

  #atalhosListaContainer .menu-item-text {
    max-width: unset !important;
  }

  #MenuLateralGamma,
  .menu-collapse-button {
    top: 0 !important;
  }

  .menu-search {
    display: unset !important;
  }

  .menu-search input {
    margin: auto;
  }

  #MenuLateralGamma {
    margin-left: auto !important;
    height: 100% !important;
  }
}

@media (min-width: 576px) {
  div#MenuLateralGamma {
    -webkit-transition: margin 200ms ease-out !important;
    -moz-transition: margin 200ms ease-out !important;
    -o-transition: margin 200ms ease-out !important;
    transition: margin 200ms ease-out !important;
  }
}
