<?xml version="1.0" encoding="UTF-8"?>
<web-app id="webrun" version="3.1"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>Webrun</display-name>
  <distributable />
  
  <listener>
    <listener-class>wfr.web.WebrunContextListener</listener-class>
  </listener>
  
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>waffle.servlet.NegotiateSecurityFilter</filter-class>   
    <init-param>
      <param-name>principalFormat</param-name>
      <param-value>fqn</param-value>
    </init-param>
    <init-param>
      <param-name>roleFormat</param-name>
      <param-value>both</param-value>
    </init-param>
    <init-param>
      <param-name>allowGuestLogin</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>securityFilterProviders</param-name>
      <param-value>
        waffle.servlet.spi.BasicSecurityFilterProvider
        waffle.servlet.spi.NegotiateSecurityFilterProvider
      </param-value>
    </init-param>
    <init-param>
      <param-name>waffle.servlet.spi.NegotiateSecurityFilterProvider/protocols</param-name>
      <param-value>
        Negotiate
        NTLM
      </param-value>
    </init-param>
    <init-param>    
      <param-name>waffle.servlet.spi.BasicSecurityFilterProvider/realm</param-name>
      <param-value>System Logon</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/ntlm.jsp</url-pattern>
  </filter-mapping>       
  
  <filter>
    <filter-name>ResponseBinaryHeaderFilter</filter-name>
    <filter-class>wfr.web.ResponseHeaderFilter</filter-class>
    <init-param>
      <param-name>Content-type</param-name>
      <param-value>application/octet-stream</param-value>
    </init-param>
    <init-param>
      <param-name>Content-Disposition</param-name>
      <param-value>inline</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>ResponseHeaderFilter</filter-name>
    <filter-class>wfr.web.ResponseHeaderFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>private,max-age=2592000</param-value>
    </init-param>
    <init-param>
      <param-name>Pragma</param-name>
      <param-value>cache</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>wfr.web.ResponseHeaderFilter</filter-class>
    <init-param>
      <param-name>Content-Encoding</param-name>
      <param-value>$CHARSET$</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>CompressAndCacheFilter</filter-name>
    <filter-class>wfr.web.CompressAndCacheFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>private,max-age=2592000</param-value>
    </init-param>
    <init-param>
      <param-name>Pragma</param-name>
      <param-value>cache</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>ForbiddenAccessFilter</filter-name>
    <filter-class>wfr.web.ForbiddenAccessFilter</filter-class>
  </filter>
  <filter>
    <filter-name>ContextFilter</filter-name>
    <filter-class>wfr.web.ContextFilter</filter-class>
  </filter>

  <filter>
    <filter-name>ImageFilter</filter-name>
    <filter-class>wfr.web.ImageFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>private,max-age=2592000</param-value>
    </init-param>
    <init-param>
      <param-name>Pragma</param-name>
      <param-value>cache</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>ContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>ImageFilter</filter-name>
    <url-pattern>*.gif</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ImageFilter</filter-name>
    <url-pattern>*.png</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ImageFilter</filter-name>
    <url-pattern>*.jpg</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>ImageFilter</filter-name>
    <url-pattern>*.gif?locale=</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ImageFilter</filter-name>
    <url-pattern>*.png?locale=</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ImageFilter</filter-name>
    <url-pattern>*.jpg?locale=</url-pattern>
  </filter-mapping> 

  <filter-mapping>
    <filter-name>ResponseBinaryHeaderFilter</filter-name>
    <url-pattern>*.dbf</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseBinaryHeaderFilter</filter-name>
    <url-pattern>*.frz</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseBinaryHeaderFilter</filter-name>
    <url-pattern>*.wfre</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseHeaderFilter</filter-name>
    <url-pattern>*.jpg</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseHeaderFilter</filter-name>
    <url-pattern>*.gif</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CompressAndCacheFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CompressAndCacheFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseHeaderFilter</filter-name>
    <url-pattern>*.png</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ForbiddenAccessFilter</filter-name>
    <url-pattern>/webrun/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ForbiddenAccessFilter</filter-name>
    <url-pattern>/system/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ForbiddenAccessFilter</filter-name>
    <url-pattern>/WEB-INF./*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ForbiddenAccessFilter</filter-name>
    <url-pattern>/WEB-INF/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CompressAndCacheFilter</filter-name>
    <url-pattern>*.xml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseHeaderFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseHeaderFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseBinaryHeaderFilter</filter-name>
    <url-pattern>*.doc</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseBinaryHeaderFilter</filter-name>
    <url-pattern>*.docx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseBinaryHeaderFilter</filter-name>
    <url-pattern>*.ppt</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseBinaryHeaderFilter</filter-name>
    <url-pattern>*.pptx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseBinaryHeaderFilter</filter-name>
    <url-pattern>*.xls</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseBinaryHeaderFilter</filter-name>
    <url-pattern>*.xlsx</url-pattern>
  </filter-mapping>             

  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>getimage</servlet-name>
    <servlet-class>wfr.web.GetImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wfrcore</servlet-name>
    <servlet-class>wfr.web.WFRCore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getdate</servlet-name>
    <servlet-class>wfr.web.GetDate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fileupload</servlet-name>
    <servlet-class>wfr.web.FileUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>admincore</servlet-name>
    <servlet-class>wfr.web.AdminCore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>wfr.web.Download</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewFileUpload</servlet-name>
    <servlet-class>wfr.web.NewFileUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertDataFileImport</servlet-name>
    <servlet-class>wfr.web.InsertDataFileImport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDependences</servlet-name>
    <servlet-class>wfr.web.GetDependences</servlet-class>
  </servlet>
  <servlet>
    <display-name>InsertImport</display-name>
    <servlet-name>InsertImport</servlet-name>
    <servlet-class>wfr.web.InsertImport</servlet-class>
  </servlet>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>
      org.apache.axis.transport.http.AdminServlet
    </servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>
      org.apache.axis.transport.http.AxisServlet
    </servlet-class>
  </servlet>
  <servlet>
    <display-name>Controller Servlet</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>wfr.web.Controller</servlet-class>
  </servlet>
  <servlet>
    <display-name>External Rules Servlet</display-name>
    <servlet-name>ExternalRules</servlet-name>
    <servlet-class>wfr.web.ExternalRulesServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Auto Test Servlet</display-name>
    <servlet-name>AutoTestServlet</servlet-name>
    <servlet-class>wfr.web.test.AutoTestServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Grid Export Servlet</display-name>
    <servlet-name>WFRGridExport</servlet-name>
    <servlet-class>wfr.web.WFRGridExport</servlet-class>
  </servlet>
  <servlet>
    <display-name>Chat Export Servlet</display-name>
    <servlet-name>WFRChatExport</servlet-name>
    <servlet-class>wfr.web.WFRChatExport</servlet-class>
  </servlet>
  <servlet>
    <display-name>Forbidden Servlet</display-name>
    <servlet-name>ForbiddenServlet</servlet-name>
    <servlet-class>wfr.web.ForbiddenServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RemainSession</display-name>
    <servlet-name>RemainSession</servlet-name>
    <servlet-class>wfr.web.RemainSession</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>getimage</servlet-name>
    <url-pattern>/getimage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wfrcore</servlet-name>
    <url-pattern>/wfrcore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getdate</servlet-name>
    <url-pattern>/getdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fileupload</servlet-name>
    <url-pattern>/fileupload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>admincore</servlet-name>
    <url-pattern>/admincore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDependences</servlet-name>
    <url-pattern>/GetDependences</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewFileUpload</servlet-name>
    <url-pattern>/NewFileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertDataFileImport</servlet-name>
    <url-pattern>/InsertDataFileImport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertImport</servlet-name>
    <url-pattern>/InsertImport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExternalRules</servlet-name>
    <url-pattern>*.rule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoTestServlet</servlet-name>
    <url-pattern>/autotest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForbiddenServlet</servlet-name>
    <url-pattern>/autodeploy/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForbiddenServlet</servlet-name>
    <url-pattern>/reports/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForbiddenServlet</servlet-name>
    <url-pattern>/system/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForbiddenServlet</servlet-name>
    <url-pattern>/src/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForbiddenServlet</servlet-name>
    <url-pattern>/classes/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemainSession</servlet-name>
    <url-pattern>/remainSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WFRGridExport</servlet-name>
    <url-pattern>/WFRGridExport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WFRChatExport</servlet-name>
    <url-pattern>/WFRChatExport</url-pattern>
  </servlet-mapping>
  
  <mime-mapping>
    <extension>wsdl</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <error-page>
    <error-code>400</error-code>
    <location>/errors/400.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/errors/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errors/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errors/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>888</error-code>
    <location>/errors/888.jsp</location>
  </error-page>  

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>AutoTest</web-resource-name>
      <url-pattern>/autoTest.jsp</url-pattern>
      <url-pattern>/autotest</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>manager</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/auth.jsp</form-login-page>
      <form-error-page>/auth.jsp?error=true</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>manager</role-name>
  </security-role>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 
    <jsp-config>
    <jsp-property-group>
    <url-pattern>*.jsp</url-pattern>
    <el-ignored>true</el-ignored> 
    </jsp-property-group>
    </jsp-config>    
  -->
</web-app>