html, body {
  overflow-x: hidden;
}

.btn.flag-button {
  text-decoration: none;
  outline: 0;
  border: 1px solid #ced4da;
}

.input-group-append.btn-group .btn {
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;
}

.copyright {
  position: fixed;
  width: 100%;
  bottom: 3rem;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 200;
  z-index: -1;
  font-family: monospace;
  font-size: 13px;
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  }
  
.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
    opacity: 0.0;
  }
  
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1.0;
  }
}
  
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
    opacity: 0.0;
  }
  
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1.0;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity: 0.0;
  } to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1.0;
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity: 0.0;
  } to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1.0;
  }
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1.0;
  } to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0.0;
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1.0;
  } to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0.0;
  }
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1.0;
  } to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0.0;
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1.0;
  } to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0.0;
  }
}

.success-checkmark {
  display: none;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  transform: scale(1.5);
}

.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  box-sizing: content-box;
}

.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}

.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}

.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  } 54% {
    width: 0;
    left: 1px;
    top: 19px;
  } 70% {
    width: 50px;
    left: -8px;
    top: 37px;
  } 84% {
    width: 17px;
    left: 21px;
    top: 48px;
  } 100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  } 65% {
    width: 0;
    right: 46px;
    top: 54px;
  } 84% {
    width: 55px;
    right: 0px;
    top: 35px;
  } 100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}